<div class="update-profile-container">
    <h2>Update Profile</h2>
    <form >
      <div>
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          required
          [placeholder]="email"
        />
         </div>
      <div>
        <label for="numtel">Phone number:</label>
        <input
          type="text"
          id="numtel"
          name="numtel"
          required
          [placeholder]="numtel"
        />
      </div>
      <div>
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          [placeholder]="password ? '' : 'Enter new password'"
        />
    </div>
    <div>
      <label for="confirmPassword">Confirm Password:</label>
      <input
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        [placeholder]="confirmPassword ? '' : 'Confirm your password'"
      />
      </div>
    <button type="submit">Update</button>
    </form>
</div>