<div class="complaints-container">
  <h2 class="text-center mb-4">All Complaints</h2>

  <!-- Bouton pour ajouter une plainte -->
  <button class="btn btn-primary mb-3" routerLink="/add-complaint">Add Complaint</button>

  <!-- Liste des plaintes sous forme de tableau -->
  <div class="complaints-list">
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Content</th>
          <th>Type</th>
          <th>Status</th>
          <th>Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let complaint of complaints">
          <td>{{ complaint.title }}</td>
          <td>{{ complaint.content }}</td>
          <td>{{ complaint.typeC }}</td>
          <td>
            <span [ngClass]="{
              'text-warning': complaint.typeStatus === 'Pending',
              'text-success': complaint.typeStatus === 'Resolved',
              'text-danger': complaint.typeStatus === 'Rejected'
            }">
              {{ complaint.typeStatus }}
            </span>
          </td>
          <td>{{ complaint.dateComplaint | date:'yyyy-MM-dd' }}</td>
          <td>
            <button class="btn btn-warning btn-sm" (click)="onEdit(complaint)">Update</button>
            <button class="btn btn-danger btn-sm" (click)="onDelete(complaint.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>