.container {
   padding-right: 190px;
    background-color: #fff;
}

.row {
    display: flex;
    justify-content: center;
}

.col-md-8 {
    width: 66.66667%;
}

.offset-md-2 {
    margin-left: 16.66667%;
}

.post-list {
    margin-top: 20px;
}

.post {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.post-avatar img {
    border-radius: 50%;
}

.post-info {
    margin-left: 15px;
}

.post-title {
    margin: 0;
    font-size: 1.5em;
}

.post-date {
    color: #6c757d;
    font-size: 0.9em;
}

.post-content p {
    margin: 15px 0;
}

.post-image-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.post-image {
    max-width: 100%;
    max-height: 300px; /* Added max-height to limit image size */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.post-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.icon-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

.delete-button {
    background-color: #dc3545;
    color: #fff;
}

.view-button {
    background-color: #28a745;
    color: #fff;
}

.update-button {
    background-color: #ffc107;
    color: #fff;
}

.no-posts-message {
    text-align: center;
    font-size: 1.2em;
    color: #6c757d;
    margin-top: 20px;
}

.top {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 60px auto;
  padding: 20px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}














.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .ngx-pagination {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .ngx-pagination li {
    margin: 0 5px;
  }
  
  .ngx-pagination a {
    padding: 5px 10px;
    background: #ff6969;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .ngx-pagination a:hover {
    background: #ff3737;
  }
  
  .ngx-pagination .current {
    background: #cc0000;
  }
  