<div class="container">
  <h3>List of Conventions</h3>

  <!-- Advanced Search Form -->
  <div class="form-group">
    <label for="companyName">Company Name:</label>
    <input 
      type="text" 
      id="companyName" 
      [(ngModel)]="searchCompanyName" 
      (keyup)="searchConvention()" 
      name="companyName" 
      placeholder="Search by company name" 
      class="form-control"
    >
  </div>

  <!-- No Results Found Message -->
  <div *ngIf="notFound" class="alert alert-warning">
    No conventions found with the provided company name.
  </div>

  <!-- Loading Spinner (for email sending) -->
  <div *ngIf="isLoading" class="loading-spinner">
    <p>Envoi de l'email en cours...</p>
  </div>

  <!-- Conventions Table -->
  <table class="table table-striped">
    <thead>
      <tr>
  
        <th>Company Name</th>
        <th>Company address </th>
        <th>Company Contact</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let convention of filteredConventions">
        <td>{{ convention.companyName }}</td>
        <td>{{ convention.companyAddress }}</td>
        <td>{{ convention.companyContact }}</td>
        <td>{{ convention.startDate | date: 'shortDate' }}</td>
        <td>{{ convention.endDate | date: 'shortDate' }}</td>
        <td>
          <div class="btn-group">
            <button class="custom-btn btn-details" (click)="goToDetails(convention.id)">Détails</button>
            <button class="custom-btn btn-delete" (click)="deleteConvention(convention.id)">Delete</button>
            <button 
              class="custom-btn btn-validity" 
              [ngStyle]="{'background-color': convention.isValid ? '#28a745' : '#dc3545'}"
              (click)="toggleValidity(convention)">
              {{ convention.isValid ? 'Valid' : 'Not Valid' }}
            </button>
            <button class="custom-btn btn-email" (click)="sendTestEmail()">Send Test Email</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
