<div class="forgot-password-container">
    <h2>Forgot Password</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" [(ngModel)]="email" name="email" required (input)="onEmailInput()">
      </div>
      <button type="submit">Submit</button>
      <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
      <div class="additional-links">
        <a class="forgot-password-link" routerLink="/login">Back to Login</a>
      </div>
    </form>
  </div>
  