<div class="container">
    <div class="flex-container">
      <div class="content-container">
        <div class="main-content">
          <div class="row">
            <div class="col-md-12">
              <input type="text" (input)="filterSujets()" placeholder="Search by company name">
            </div>
            <div class="col-md-12">
   
              <div class="card">
                <div class="card-header card-header-danger">
                  <h4 class="ff">Subjects   </h4>
                 </div>
                <div class="card-body">
                  <div *ngIf="message" class="alert alert-success">{{ message }}</div>
                  <div *ngFor="let sujet of filteredSujets; let i = index" class="sujet-item">
   
                    <h2>{{ sujet.companyname }}</h2>
                    <h4>{{ sujet.title }}</h4>
                    <p><strong>Descripton:</strong> {{ sujet.description }}</p>
                    <p><strong>Duration:</strong> {{ sujet.duration }}</p>
                    <p><strong>Location:</strong> {{ sujet.location }}</p>
                    <p><strong>Contact:</strong> {{ sujet.companymail }}</p>
                    <p><strong>Company name:</strong> {{ sujet.companyname }}</p>
                    <p><strong>Required number of students:</strong> {{ sujet.numberOfStudents }}</p>
                    <p><strong>Requirements:</strong> {{ sujet.requirements }}</p>
                    <p><strong>Subject type:</strong> {{ sujet.typeInternship }}</p>
  
                    <button class="btn btn-primary btn-sky-blue mb-3" (click)="afficherFormulaireModifier(i)">Postulate</button>
  
                  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>
  