<div class="container">
  <div class="flex-container">
    <div class="content-container">
      <div class="main-content">
        <div class="row">
          <div class="col-md-12">
            <input type="text" [(ngModel)]="searchTerm" (input)="filterSujets()" placeholder="Search by title or company name">
          </div>

          <div class="col-md-12">
            <div class="postulation-card">
              <div class="card-header">
                <h2 class="ff">Subjects</h2>
              </div>
              <div class="card-body">
                <div *ngIf="message" class="alert alert-success">{{ message }}</div>
                <div *ngFor="let sujet of filteredSujets; let i = index" class="sujet-item">
                  <h2>{{ sujet.companyname }}</h2>
                  <h4>{{ sujet.title }}</h4>
                  <p><strong>Description:</strong> {{ sujet.description }}</p>
                  <p><strong>Duration:</strong> {{ sujet.duration }}</p>
                  <p><strong>Location:</strong> {{ sujet.location }}</p>
                  <p><strong>Contact:</strong> {{ sujet.companymail }}</p>
                  <p><strong>Company name:</strong> {{ sujet.companyname }}</p>
                  <p><strong>Required number of students:</strong> {{ sujet.numberOfStudents }}</p>
                  <p><strong>Requirements:</strong> {{ sujet.requirements }}</p>
                  <!-- Display the mapped internship type -->
                  <p><strong>Subject type:</strong> {{ mappedTypeInternship(sujet.typeInternship) }}</p>
                  <button class="btn btn-primary btn-sky-blue mb-3" (click)="postulate(i)">Postulate</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
